<div class="flex flex-col justify-center items-center gap-10">
    <div class="flex flex-col w-full justify-start gap-5">
        <div class="flex gap-5">
            <div class="flex items-center gap-3">
                <span class="bg-white w-7 h-[2px] block"></span>
                <span class="bg-white w-3 h-[2px] block"></span>
                <span class="bg-yellow-300 w-[4px] h-[4px] block"></span>
            </div>
            <div class="flex items-center">
                <h1 class="text-white font-medium text-md">#NAMELESS COMMUNITY</h1>
            </div>
        </div>
        <div class="flex justify-start items-center">
            <h1 class="text-green-600 font-bold text-4xl">Visi & Misi</h1>
        </div>
    </div>
    <div class="flex flex-col w-full justify-start gap-16">
        <div class="">
            <p class="text-white font-normal text-md">Menjadi wadah untuk perkembangan anggotanya secara prilaku dan pemikiran, agar menjadi pribadi yang berguna/bermanfaat bagi masyarakat.</p>
        </div>
        <div class="">
            <h1 class="text-green-600 font-bold text-3xl">MISI</h1>
            <p class="text-white font-normal text-md mt-5">1. Mengadakan kegiatan sharing rutinan.</p>
            <p class="text-white font-normal text-md mt-5">2. Mengadakan kegiatan sosialisasi kepada masyarakat.</p>
            <p class="text-white font-normal text-md mt-5">3. Menerapkan sikap toleransi.</p>
            <p class="text-white font-normal text-md mt-5">4. Dapat menyalurkan aspirasi dari luar kelompok kedalam kelompok.</p>
            <p class="text-white font-normal text-md mt-5">5. Mengadakan kegiatan olahraga rutinan bersama.</p>
        </div>
    </div>
</div>