<div class="flex flex-col gap-5">
    <div class="flex flex-col justify-center items-center gap-5">
        <div class="flex gap-5">
            <a href="#" class="text-white font-medium text-sm">BERANDA</a>
            <a href="/members" class="text-white font-medium text-sm">ANGGOTA</a>
            <a href="" class="text-white font-medium text-sm">JAM RAPAT</a>
        </div>
        <div class="flex gap-5">
            <a href="" class="text-white font-medium text-sm">GALERI</a>
            <a href="" class="text-white font-medium text-sm">KONTAK</a>
            <a href="" class="text-white font-medium text-sm">TENTANG</a>
        </div>
    </div>
    <div class="flex justify-center items-center">
        <p class="text-white font-normal text-xs">&copy; 2024 NAMELESS COMMUNITY</p>
    </div>
</div>