<div class="flex flex-col gap-10">
    <div class="flex flex-col justify-center items-center gap-5">
        <div class="flex gap-5">
            <a href="#" class="text-white font-medium text-md">BERANDA</a>
            <a href="/members" class="text-white font-medium text-md">ANGGOTA</a>
            <a href="" class="text-white font-medium text-md">JAM RAPAT</a>
        </div>
        <div class="flex gap-5">
            <a href="" class="text-white font-medium text-md">GALERI</a>
            <a href="" class="text-white font-medium text-md">KONTAK</a>
            <a href="" class="text-white font-medium text-md">TENTANG</a>
        </div>
    </div>
    <div class="flex justify-center items-center">
        <p class="text-white font-normal text-sm">&copy; 2024 NAMELESS COMMUNITY</p>
    </div>
</div>