<div class="flex flex-col justify-center items-center gap-10">
    <div class="flex flex-col w-full justify-start gap-5">
        <div class="flex gap-5">
            <div class="flex items-center gap-3">
                <span class="bg-white w-7 h-[2px] block"></span>
                <span class="bg-white w-3 h-[2px] block"></span>
                <span class="bg-yellow-300 w-[4px] h-[4px] block"></span>
            </div>
            <div class="flex items-center">
                <h1 class="text-white font-medium text-md">#NAMELESS COMMUNITY</h1>
            </div>
        </div>
        <div class="flex justify-start items-center">
            <h1 class="text-green-600 font-bold text-4xl">Galeri</h1>
        </div>
    </div>
    <div class="flex flex-col">
        <div class="flex w-full justify-center items-center">
            <img src="/public/Pai.jpeg" class="w-full hover:scale-105 duration-500">
        </div>
    </div>
</div>