<div class="bg-black h-full w-full bg-opacity-50">
    <div class="h-full w-full bg-gradient-to-t from-slate-900 via-transparent to-transparent">
    <div class="flex justify-center items-center flex-col h-full gap-16">
        <div class="flex flex-col justify-center items-center">
            <p class="text-white font-medium text-md tracking-widest">WELCOME TO</p>
            <h1 class="text-white font-bold text-4xl mt-3">NAMELESS</h1>
            <h1 class="text-white font-bold text-4xl">COMMUNITY</h1>
            <p class="text-white font-medium text-md tracking-widest mt-5">SINCE 2024</p>
        </div>
        <div class="flex">
            <a href="#visiMisi">
                <button class="bg-green-600 h-10 w-40 text-white font-normal shadow-md">View More</button>
            </a>
        </div>
    </div>
    </div>
</div>