<nav class="flex justify-between items-center h-24 w-full px-10 absolute top-0 z-10">
    <div class="flex justify-start items-center">
        <a href="#" class="flex gap-5 items-center">
            <img src="/public/Logo Nameless.jpeg" class="h-10 w-10 rounded-full">
            <span class="text-white font-bold text-lg">Nameless</span>
        </a>
    </div>
    <div class="flex justify-end items-center gap-7 relative">
        <button id="toggleButton" class="block absolute">
            <span class="bg-white rounded-md w-[30px] h-[2px] my-2 block origin-top-left transition duration-300"></span>
            <span class="bg-white rounded-md w-[30px] h-[2px] my-2 block"></span>
            <span class="bg-white rounded-md w-[30px] h-[2px] my-2 block origin-bottom-left transition duration-300"></span>
        </button>
    </div>
</nav>
<div id="toggleMenu" class="justify-center items-center absolute top-24 hidden w-full h-80 px-10">
    <div class="bg-gray-950 flex justify-start w-full h-full shadow-md">
        <ul class="flex flex-col justify-start gap-7 p-5">
            <li><a href="/" class="text-white font-normal text-md">Beranda</a></li>
            <li><a href="/members" class="text-white font-normal text-md">Anggota</a></li>
            <li><a href="" class="text-white font-normal text-md">Jam Rapat</a></li>
            <li><a href="" class="text-white font-normal text-md">Galeri</a></li>
            <li><a href="" class="text-white font-normal text-md">Kontak</a></li>
            <li><a href="#footer" class="text-white font-normal text-md">Tentang</a></li>
        </ul>
    </div>
</div>