<%- include('./component/header.ejs') %>
<%- include('./component/navbar.ejs') %>
<section>
    <div class="container-fluid px-4 py-4">
        <div class="">
            <h1 class="">Overview</h1>
        </div>
        <div class="d-flex flex-column py-4 gap-4">
            <div class="border d-flex justify-content-between align-items-center py-2 px-3 rounded">
                <div class="">
                    <h4 class="title">Website</h4>
                </div>
                <div class="">
                    <p class="btn btn-success badge">Online</p>
                </div>
            </div>
            <div class="border d-flex justify-content-between align-items-center py-2 px-3 rounded">
                <div class="">
                    <h4 class="title">Database</h4>
                </div>
                <div class="">
                    <p class="btn btn-success badge">Connect</p>
                </div>
            </div>
            <div class="border d-flex justify-content-between align-items-center py-2 px-3 rounded">
                <div class="">
                    <h4 class="title">Members API</h4>
                </div>
                <div class="">
                    <p class="btn btn-success badge">Ready</p>
                </div>
            </div>
            <div class="border d-flex justify-content-between align-items-center py-2 px-3 rounded">
                <div class="">
                    <h4 class="title">Gallery API</h4>
                </div>
                <div class="">
                    <p class="btn btn-warning badge">Progress</p>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('./component/footer.ejs') %>