---
import Background from '../components/Background.astro';
import Navbar from '../components/Navbar.astro';
import Main from '../components/Main.astro';
import Content from '../components/Content.astro';
import Gallery from '../components/Gallery.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';

import '../../public/style/style.css';
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/jpeg" href="/Logo Nameless.jpeg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nameless Community</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<style>
			.poppins-thin {
  				font-family: "Poppins", sans-serif;
  				font-weight: 100;
  				font-style: normal;
			}
		</style>
	</head>
	<body class="poppins-thin">
		<header class="">
			<Background />
			<Navbar />
		</header>
		<main class="h-screen">
			<Main />
		</main>
		<section id="visiMisi" class="bg-slate-900 p-10">
			<Content />
		</section>
		<section class="bg-slate-950 h-screen p-10">
			<Gallery />
		</section>
		<section class="bg-slate-900">
			<About />
		</section>
		<footer id="footer" class="bg-slate-950 p-10">
			<Footer />
		</footer>
		<script src="../../public/script/script.js"></script>
	</body>
</html>
